
<h1>Make a Survey!</h1>

<form class="center makeasurvey" action="/create_survey" method="POST">
  <input id="textfield" type="text" name="title" placeholder="SURVEY TITLE"><br>

  	<!-- what do we do here?
  	where should we post to?
  	how to display survey questions, etc -->

  <input id="loginbutton" type="submit" name="Submit this survey" value="CONTINUE &#8594;">
</form>

