<div class="homecontent">

  <form class="loginform" action="/log_in" method="POST">

    <input id="textfield" type="text" name="email" placeholder="EMAIL" ><br>
    <input id="textfield" type="password" name="password" placeholder="PASSWORD" ><br>

    <input id="loginbutton" type="submit" value="&#8594;">

  </form>


</div>
