<div class="container">
  <h1 id="user_portal_h1">User Portal</h1>
<div id="userportal">
  <a id="survey_list_link" href="/survey_list">TAKE SURVEY</a><br>
  <a id="create_survey_link" href="/create_survey">CREATE SURVEY</a><br>
  <!-- hard coded to survey #2, need to replace with working code -->
  <a id="stats_link" href="/stats/2">STATS</a>
</div>
</div>


